GamePlugin/Service References/Game/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetStartMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStartMetadataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMoveMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentMoveNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMoveMetadataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>